<div style="display: flex;justify-content: center; height: 100vh; ">
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div style="background-color: #68afcb; padding: 30px; border-width:10px;border-radius: 10px; -moz-box-shadow: 0 0 30px #888888; -webkit-box-shadow: 0 0 30px #888888; box-shadow: 0 0 30px #888888; ">
          <h3>Login</h3>
          <hr />
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-primary" (click)="login($event)">Enter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
