<!--Header-->
<div style="width: 100vw; background-color: #cccccc; color: #115495 ">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="col-md-12">
          Contact
        </div>
      </div>
      
      <div class="col-md-2  ml-auto">
        <div class="col-md-12">
          <div>
            <a>Save</a>|<a>Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Form-->
<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="Phone">Phone</label>
    <input type="tel" class="form-control" id="Phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label for="Fax">Fax</label>
    <input type="tel" class="form-control" id="Fax" placeholder="Fax">
  </div>
  <div class="form-group">
    <label for="Emai">Email</label>
    <input type="email" class="form-control" id="Email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="Notes">Notes</label>
    <textarea type="text" class="form-control" id="Notes" placeholder="Notes"></textarea>
  </div>
</form>
